// Colors

// Yellow
$yellow: rgb(254, 206, 52);
$lightest-yellow: lighten($yellow, 35%);
$lighter-yellow: lighten($yellow, 25%);
$light-yellow: lighten($yellow, 10%);
$dark-yellow: darken($yellow, 10%);
$darker-yellow: darken($yellow, 20%);
$darkest-yellow: darken($yellow, 30%);

// Purple
$purple: rgb(196, 86, 160);
$lightest-purple: lighten($purple, 35%);
$lighter-purple: lighten($purple, 25%);
$light-purple: lighten($purple, 10%);
$dark-purple: darken($purple, 10%);
$darker-purple: darken($purple, 20%);
$darkest-purple: darken($purple, 30%);

// Orange
$orange: rgb(249, 158, 75);
$lightest-orange: lighten($orange, 30%);
$lighter-orange: lighten($orange, 20%);
$light-orange: lighten($orange, 10%);
$dark-orange: darken($orange, 10%);
$darker-orange: darken($orange, 20%);
$darkest-orange: darken($orange, 30%);

// Green
$green: rgb(123, 193, 67);
$lightest-green: lighten($green, 40%);
$lighter-green: lighten($green, 25%);
$light-green: lighten($green, 10%);
$dark-green: darken($green, 10%);
$darker-green: darken($green, 20%);
$darkest-green: darken($green, 30%);

// Blue
$blue: rgb(27, 117, 188);
$lightest-blue: lighten($blue, 45%);
$lighter-blue: lighten($blue, 30%);
$light-blue: lighten($blue, 10%);
$dark-blue: darken($blue, 10%);
$darker-blue: darken($blue, 20%);
$darkest-blue: darken($blue, 30%);

// Red
$red: rgb(228, 65, 69);
$lightest-red: lighten($red, 35%);
$lighter-red: lighten($red, 20%);
$light-red: lighten($red, 10%);
$dark-red: darken($red, 10%);
$darker-red: darken($red, 20%);
$darkest-red: darken($red, 30%);

// Teal
$teal: #31849a;
$lightest-teal: lighten($teal, 57%);
$lighter-teal: lighten($teal, 40%);
$light-teal: lighten($teal, 20%);
$dark-teal: darken($teal, 5%);
$darker-teal: darken($teal, 10%);
$darkest-teal: darken($teal, 15%);
$darkest-teal-hover: darken($teal, 20%);

// Brown
$brown: #84684D;
$lightest-brown: lighten($brown, 57%);
$lighter-brown: lighten($brown, 40%);
$light-brown: lighten($brown, 20%);
$dark-brown: darken($brown, 5%);
$darker-brown: darken($brown, 10%);
$darkest-brown: darken($brown, 15%);
$darkest-brown-hover: darken($brown, 20%);

// Pink
$pink: #E06B9E;
$lightest-pink: lighten($pink, 57%);
$lighter-pink: lighten($pink, 40%);
$light-pink: lighten($pink, 20%);
$dark-pink: darken($pink, 5%);
$darker-pink: darken($pink, 10%);
$darkest-pink: darken($pink, 15%);
$darkest-pink-hover: darken($pink, 20%);

// Gray
$gray: #8E9B9D;
$lightest-gray: lighten($gray, 30%);
$lighter-gray: lighten($gray, 20%);
$light-gray: lighten($gray, 10%);
$dark-gray: darken($gray, 10%);
$darker-gray: darken($gray, 20%);
$darkest-gray: darken($gray, 30%);

$white-secondary: darken(white, 2%);
$white-tertiary: darken(white, 5%);

// Color Styles

$secondary-color: $green;
$tertiary-color: $orange;
$active-color: $light-teal;
$alert-color: $red;

$body-copy-color: $dark-gray;
$base-text-color: $darkest-gray;

$header-color: $darkest-teal;
$header-color-active: $darkest-teal-hover;
$header-color-hover: $darkest-teal-hover;

$section-header-color: $teal;
$section-header-dark-color: $dark-teal;

$footer-color: $darker-teal;
$background-color: $lightest-teal;

// Borders

$base-border-style: .1rem solid $lighter-gray;
$secondary-border-style: 1px solid $teal;
$focus-border-style: 1px solid $green;

// Margins
$margin: .5%;

// Task Colors
$task-active-color: $green;
$task-completed-color: $light-teal;
$task-not-started-color: $lightest-gray;
$task-overdue-color: $red;
$task-stopped-color: $orange;
