legend {
  @include title-font;
}

input,
textarea {
  border: $base-border-style;
  border-radius: .2rem;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: inherit;
  margin: 0 0 1rem 0;
  outline: none;
  padding: 1rem .5rem;
  @include vendor-prefix('transition', 'border 0.1s ease-in-out');
  -webkit-appearance: none;
  width: 100%;

  &:focus {
    border: $focus-border-style;
  }
}

textarea {
  min-height: 10rem;
  resize: vertical;

  &.task {
    min-height: 7rem;
    margin-bottom: 0;
  }
}

// Upload File

input[type="file"]{
  background: transparent;
  border: 0;
  color: transparent;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }

  &::-webkit-file-upload-button {
    visibility:hidden;
  }

  &.circled-small-upload {
    left: -1rem;
    padding: 0;
    position: relative;
    top: 0.5rem;
    width: 2.5rem;
  }
}

input[type="date"] {
  display: block;
  width: auto;
}

.task-completed-date {
  @include fontsize(14);
  @include vendor-prefix('transition', 'text-decoration 0.2s ease');
  background: transparent;
  border: 0;
  color: $active-color;
  line-height: inherit;
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-decoration: none;

  &:focus {
    border: 0;
  }

  &:hover {
    text-decoration: underline;
  }
}

.upload-file {
  position: relative;

  span.circled-small-upload {
    color: white;
    margin-left: 0.2rem;
  }

  button {
    left: 0;
    margin: 0;
    padding: 0.2rem 1rem 0.2rem 0.5rem;
    position: absolute;
    top: 0;
    z-index: -1;

    &.circled-small-upload {
      left: 0.3rem;
      padding: 0.05rem 2.5rem 0.4rem 0.3rem;
      top: 0.5rem;

      &:before {
        margin-left: 0.7rem;
      }
    }
  }
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"] {
  display: block;
  height: 2rem;
  padding: .25rem;
  width: 2rem;
  -webkit-appearance: checkbox;

  &.selected {
    &:before {
      content: '\e819';
      font-family: 'fontello';
      padding: 0;
    }
  }

  &.initiative-select {
    display: inline-block;
  }
}

// Form Submit

input[type="submit"] {
  background: white;
  color: $teal;
  @include button;
  margin: 0;
  padding: 1.4rem 0;

  &:hover {
    background: $white-tertiary;
  }
}
